@layout('site_template/template') 
@section('content')

<div class="home-wrapper home-intro row vertical-content">

    <div class="col-md-12">
        <h1>Terms and Conditions</h1>
    </div>
</div>


@endsection